html{
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #30305f;
}
*, ::after,::before{
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-around;
    background-color: #30305f;
    color:white;
}

header h2{
    
    
}
header p{
    flex:5;
    align-items: center;
}
.subHeader{
    display: flex;
    justify-content: space-around;
}
.subHeader p{
    margin: 25px 13px 0 0px;
}